
#start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  gap: 20px;
  align-items: center;
  position: relative;
  align-self: center;
  width: 100vh;
  min-height: 100vh;

  animation: aparecer 0.7s ease-in-out ;
}

#heartInicio {
    
    color: white;
    text-shadow: rgb(204, 43, 215) 1px 1px 70px;
    font-size: 40pt;

    cursor: pointer;

    transform: scale(1);
    transition: transform 0.5S;

}

#heartInicio:hover {
    transform: scale(1.3);
    text-shadow: rgb(204, 43, 215) 1px 1px 150px;
    color: rgb(179, 41, 128);
}

#heartInicio:hover + #textStart {
    color: rgba(255, 255, 255, 0.089);
    transition: color 0.7s;
}

#textStart {
    text-align: center;

    font-weight: 300;
    font-size: 3rem;
    text-shadow: rgb(204, 43, 215) 1px 1px 70px;
    color: rgb(168, 154, 168);
    text-wrap: wrap;
}
