@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    
}

h1, h2, p, span, strong {
    pointer-events: none;
    margin: 0;
}

@font-face {
    font-family: 'Quick Beach' ;
    src: url(./fonts/Quick\ Beach.ttf);
}

@font-face {
    font-family: 'Mermaid1001';
    src: url(./fonts/Mermaid1001.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    background-image: radial-gradient(#501f03 0,  #110202 100%);
    
    transition: background-image 0.5s;
}

.reveal {
    opacity: 0;
    transform: translateY(3rem);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


