@charset "UTF-8";

* {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;

}

h1, h2, p, span, strong {
    pointer-events: none;
    margin: 0;
}

@font-face {
    font-family: 'Quick Beach' ;
    src: url(./fonts/Quick\ Beach.ttf);
}

@font-face {
    font-family: 'Mermaid1001';
    src: url(./fonts/Mermaid1001.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-y: hidden;
    background-image: radial-gradient(rgb(9, 24, 43) 0, rgb(8, 3, 10) 100%);
    box-sizing: border-box;
    
    transition: background-image 0.5s;
}
