#js {
  display: none;
  align-self: flex-end;
  width: 50px;
  padding: 1rem 4rem;
  height: max-content;
  top: 2%;
  right: 1.2%;
  cursor: pointer;
  position: fixed;
  justify-content: center;

  opacity: 0.5;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  background-color: #3F8407;
  border-radius: 10px;

  transform: scale(1);
  transition: transform 0.5s;
}

#js:hover {
    transform: scale(1.03);
}

#afterClick {
  display: none;
  position: relative;

  width: 100%;
  max-width: 1400px;
  min-height: 700px;
  padding-top: 15rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;


}

#heartAfter {
  font-size: 8rem;
  transition: all ease 0.5s;
  animation: mover 1s ease-in-out infinite alternate;
  color: #EFA000;
  padding-bottom: 2rem;
}

#title {
  color: white;
  font-size: 10rem;
  font-family: 'Mermaid1001', sans-serif;
  font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
}

#roleBaixo {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  top: 90%;
  color: #a0dd6e;
  opacity: 0.5;
}

#textRB {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
}

#setaBaixo {
  font-size: 4rem;
}

#radial {
    position: absolute;
    z-index: -1;
    width: 75%;
    height: 100%;
    top: 20%;
    border-radius: 50%;
    background-image: radial-gradient(rgba(196, 137, 28, 0.445) 0, rgba(87, 44, 15, 0) 70%, rgba(80, 52, 16, 0.089) 100%);

}
