#memorias {
    position: relative;
    display: none;
    width: 1500px;
    height:max-content;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
    transform: scale(0.8);

}

#memorias > p {
    font-family: 'Mermaid1001', sans-serif;
    color: white;
    font-size: 9rem;
    
}

#imagens {
    justify-content: center;
    justify-items: center;
    padding: 20px;
    width: 100%;
    height: max-content;


}

#imagens .img {
    transform: scale(1);
    transition: transform 0.5s;

}

#imagens .img:hover {
    transform: scale(1.02);
}

img {
    border-radius: 20px;
}

#imagens .img {
    margin-top: 70px;
    display: flex;
    position: relative;
    justify-content: center;

    background-color: #5b9e2446;
    width: max-content;
    padding: 10% 2% 2% 2%;
    outline: #a85d06d3 1px;
    box-shadow: #a85d06d3 1px 1px 50px;
    border-radius: 60px 60px 20px 20px;
}

#imagens .img.\31, .img.\33, .img.\35, .img.\37 {
    margin-right: 56%;
    justify-self: end;
}

#imagens .img.\32, .img.\34, .img.\36{
    margin-left: 56%;
    justify-self: flex-start;
}

#imagens .img p {
    font-family: 'Quick Beach', sans-serif;
    top: 1%;
    position: absolute;
    font-size: 3.6rem;
    line-height: 7rem;
    margin-right: 1%;
    color: #EFA000;
    text-align: center;
}

#imagens .img span {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #c9b389;
    font-size: 2.6rem;
    background-color: #30210359;
    box-shadow: #EFA000 1px 1px 5px;
    padding: 5px 20px;
    border-radius: 20px;
}


#linha {
    top: 2%;
    justify-self: center;
    position: absolute;
    width: 5px;
    height: 98%;
    background-image: linear-gradient(rgba(66, 184, 36, 0.068) 0, rgba(90, 155, 15, 0.774) 35%, rgba(65, 156, 12, 0.514) 50%, rgba(50, 158, 23, 0.288) 100%);
    
}

#ponta {
    left: 50%;
    top: 99.1%;
    transform: translateX(-50%) rotate(180deg);
    color: rgb(8, 35, 65);
    position: absolute;
    font-size: 5rem;

}

