#carta {
    display: none;
    margin-top: 3rem;
    max-width: 800px;
    height: max-content;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
}

#textCarta {
    
    background-color: #ef9f001a;
    box-shadow: #EFA000 0.1rem 0.1rem 3rem;
    border-radius: 4rem;
    padding: 5rem;
    
}

#textCarta p {
    text-align: justify;
    color: white;
    font-size: 3rem;
    
    height: max-content;
    margin-bottom: 3rem;
}

#textCarta p:nth-child(8) {
    margin-bottom: 0;
}

#carta > p:nth-child(1) {
    color: white;
    font-size: 8rem;
    font-family: 'Mermaid1001', sans-serif;
}

#carta strong {
    font-size: 3rem;
    color: #61c013f6;
}

footer {
    display: none;
    text-align: center;
    justify-content: center;
    padding: 4rem;
    width: 100%;
    border-top: solid #5b9e2494 0.2rem;
}

footer p {
    font-style: italic;
    color: white;
    font-size: 2rem;
}
