
#time {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  min-height: 750px;
  gap: 5rem;

  border-radius: 15%;
}

#time p:nth-child(1) {
  font-family: 'Quick Beach', sans-serif;
  font-weight: 400;
  color: #EFA000;
  font-size: 5rem;
  padding: 1rem;
  text-shadow: #96680c 0.1rem 0.1rem 2rem;

}

#watch {
  font-size: 4rem;
}

#textVirado {
    align-self: center;

    white-space: nowrap;
    padding: 2rem 5rem;

    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    border-radius: 6rem;
    
    color: white;
    background-color: #ef9f0033;
    outline: solid #ef9f0083 1px;
    box-shadow: 0.1rem 0.5rem 4rem #EFA000;

}

#textVirado:hover, #boxCima:hover, #boxBaixo:hover {
  text-shadow: #ef9f00ad 0.1rem 0.1rem 0.4rem;
}

#box {
  display: flex;
  flex-direction: row;
  gap: 10rem;

  height: max-content;
  width: max-content;
  line-height: 0.9;
  text-align: center;
  align-self: center;
  
}

#boxCima, #boxBaixo {
    align-self: center;
    align-content: center;
    width: max-content;
    padding: 8rem 5rem;
    height: 50%;
    background-color: #ef9f0021;
    border-radius: 45%;

    outline: solid #EFA000 1px;
    box-shadow: 0.1rem 0.5rem 4rem #ef9f00a6;
}

#topValue, #botValue {
  font-size: 15rem;
  font-family: 'Quick Beach', sans-serif;

  background: radial-gradient(rgb(255, 254, 184) 0, rgb(190, 120, 40) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#textCima, #textBaixo {
  font-family: 'Mermaid1001', sans-serif;
  font-size: 4rem;
  color: #ecb23d;
}
