
#time {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 750px;

  border-radius: 15%;
}

#time p:nth-child(1) {
  font-family: 'Quick Beach', sans-serif;
  font-weight: 400;
  color: rgba(161, 87, 156, 0.938);
  font-size: 5rem;
  padding: 10px;
  text-shadow: rgba(95, 47, 92, 0.938) 1px 1px 30px;

  margin-bottom: 20px;
}

#watch {
  font-size: 4rem;
}

#textVirado {
    align-self: center;

    white-space: nowrap;
    padding: 20px 50px;

    font-size: 6.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    border-radius: 60px;
    
    color: white;
    background-color: rgba(95, 47, 92, 0.336);
    outline: solid rgba(95, 47, 92, 0.938) 1px;
    box-shadow: 1px 5px 50px rgba(95, 47, 92, 0.938);

}

#textVirado:hover, #boxCima:hover, #boxBaixo:hover {
  text-shadow: rgba(95, 47, 92, 0.938) 1px 1px 50px;
}

#box {
  display: flex;
  flex-direction: row;
  gap: 100px;

  height: max-content;
  width: max-content;
  line-height: 0.9;
  text-align: center;
  align-self: center;
  margin-top: 40px;
  
}

#boxCima, #boxBaixo {
    align-self: center;
    align-content: center;
    width: max-content;
    padding: 80px 50px;
    height: 50%;
    background-color: rgba(131, 67, 108, 0.1);
    border-radius: 45%;

    outline: solid rgba(95, 47, 92, 0.938) 1px;
    box-shadow: 1px 5px 50px rgba(95, 47, 92, 0.938);
}

#topValue, #botValue {
  font-size: 15rem;
  font-family: 'Quick Beach', sans-serif;

  background: radial-gradient(rgb(255, 255, 255) 0, rgb(184, 36, 174) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#textCima, #textBaixo {
  font-family: 'Mermaid1001', sans-serif;
  font-size: 4rem;
  color: rgba(219, 126, 204, 0.63);
}
