#music {
    display: none;
    position: relative;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    background-color: rgba(131, 67, 108, 0.1);
    border-radius: 40px;
    margin-top: 50px;
   
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: solid #7dcc3d 1px;
    box-shadow: 1px 1px 40px #518d20;

    flex-direction: column;
    gap: 30px;

}

#music p {
    font-family: 'Mermaid1001', sans-serif;

    font-size: 4rem;
    white-space: nowrap;
    transition: font-size 0.5s ease-in-out;
    padding: 20px 40px;
    
    border-radius: 30px;
    color: white;
    background-color: #6ee90933;
    outline: solid #7dcc3d 1px;
    box-shadow: 1px 5px 50px #5b9e2469;
}

#btn {
    font-family: 'Mermaid1001', sans-serif;
    color: white;
    padding: 20px 50px;
    font-size: 4rem;
    white-space: nowrap;
    border-radius: 50px;
    border-style: none;
    background-color: #53910c7c;
    outline: solid #e7a412d2 0.3rem;

    cursor: pointer;

    transform: scale(1);
    transition: transform 0.5s;
}

#btn:hover {
    transform: scale(1.1);
    background-color: #62be1769;

}

#nota {
    font-size: 4rem;
    color: #EFA000;
}

iframe {
    display: none;
    width: 80%;
    height: 60%;

}
