#music {
    display: none;
    position: relative;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    background-color: rgba(131, 67, 108, 0.1);
    border-radius: 40px;
    margin-top: 50px;
   
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: solid rgba(5, 30, 59, 0.685) 1px;
    box-shadow: 1px 1px 40px rgba(5, 30, 59, 0.685);

    flex-direction: column;
    gap: 30px;

}

#music p {
    font-family: 'Mermaid1001', sans-serif;

    font-size: 4rem;
    white-space: nowrap;
    transition: font-size 0.5s ease-in-out;
    padding: 20px 40px;
    
    border-radius: 30px;
    color: white;
    background-color: rgba(5, 30, 59, 0.247);
    outline: solid rgba(8, 53, 105, 0.685) 1px;
    box-shadow: 1px 5px 50px rgba(8, 53, 105, 0.685);
}

#btn {
    font-family: 'Mermaid1001', sans-serif;
    color: white;
    padding: 20px 50px;
    font-size: 4rem;
    white-space: nowrap;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(13, 36, 63, 0.685);
    outline: solid rgba(95, 47, 92, 0.938) 1px;

    cursor: pointer;

    transform: scale(1);
    transition: transform 0.5s;
}

#btn:hover {
    transform: scale(1.1);
    background-color: rgba(95, 47, 92, 0.212);

}

#nota {
    font-size: 4rem;
    color: rgba(156, 28, 148, 0.938);
}

iframe {
    display: none;
    width: 80%;
    height: 60%;

}
