
#time {
  display: none;
  position: relative;
  justify-content: center;
  gap: 50px;
  
  width: 700px;
  height: 800px;

  border-radius: 15%;
}



#textVirado {
    align-self: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    white-space: nowrap;
    width: max-content;
    height: max-content;
    padding: 50px 30px;

    font-size: 6.5rem;
    font-family: 'Quick Beach', sans-serif;
    border-radius: 60px;
    
    color: white;
    background-color: rgba(95, 47, 92, 0.336);
    outline: solid rgba(95, 47, 92, 0.938) 1px;
    box-shadow: 1px 5px 50px rgba(95, 47, 92, 0.938);

}
#textVirado:hover, #boxCima:hover, #boxBaixo:hover {
  text-shadow: rgba(95, 47, 92, 0.938) 1px 1px 100px;
}

#box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 75%;
  width: max-content;
  line-height: 0.9;
  text-align: center;
  align-self: center;
  
}

#boxCima, #boxBaixo {
    align-self: center;
    align-content: center;
    width: max-content;
    padding: 50px;
    height: 400px;
    background-color: rgba(131, 67, 108, 0.1);
    border-radius: 45%;

    outline: solid rgba(95, 47, 92, 0.938) 1px;
    box-shadow: 1px 5px 50px rgba(95, 47, 92, 0.938);
}

#topValue, #botValue {
  font-size: 15rem;
  font-family: 'Quick Beach', sans-serif;

  background: radial-gradient(rgb(255, 255, 255) 0, rgb(184, 36, 174) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#textCima, #textBaixo {
  font-family: 'Mermaid1001', sans-serif;
  font-size: 4rem;
  color: rgba(219, 126, 204, 0.63);
}
